body{
	font-family: 'Lato', sans-serif;
	background-color: black;
	color: white;
}
a{
	color: ##009FFF;
}
img{
	width: 90%;
}
.center-block{
	margin: auto;
  	width: 50%;
  	padding: 10px;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 100px;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.se-gris{
	background-color: #00833D;
}
.padding-largo{
	padding: 5px 10px;
}
.grande{
	font-size: 3.5em;
}	
.verde{
	color: #00887C;
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.no-lista li{
	list-style-type: none;
}
li{
	font-size: 20px;
}
.espacio-derecha{
	margin-right: 1em;
}
body a#logo img{
	width: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
}